.ps-container .ps-scrollbar-x-rail {
	position:absolute;
	bottom:3px;
	height:8px;
	border-radius:4px;
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:background-color .2s linear,opacity .2s linear;
	transition:background-color .2s linear,opacity .2s linear
}

a{
	text-decoration: none;
}


li, ol, ul {
    list-style: none;
}

.ps-container.hover .ps-scrollbar-x-rail,.ps-container:hover .ps-scrollbar-x-rail {
	-webkit-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	filter:alpha(opacity=60)
}
.ps-container .ps-scrollbar-x-rail.hover,.ps-container .ps-scrollbar-x-rail:hover {
	background-color:#eee;
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	filter:alpha(opacity=90)
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	filter:alpha(opacity=90)
}
.ps-container .ps-scrollbar-y-rail {
	position:absolute;
	right:3px;
	width:8px;
	border-radius:4px;
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:background-color .2s linear,opacity .2s linear;
	transition:background-color .2s linear,opacity .2s linear
}
.ps-container.hover .ps-scrollbar-y-rail,.ps-container:hover .ps-scrollbar-y-rail {
	-webkit-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	filter:alpha(opacity=60)
}
.ps-container .ps-scrollbar-y-rail.hover,.ps-container .ps-scrollbar-y-rail:hover {
	background-color:#eee;
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	filter:alpha(opacity=90)
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	filter:alpha(opacity=90)
}
.ps-container .ps-scrollbar-x {
	position:absolute;
	bottom:0;
	height:8px;
	background-color:#aaa;
	border-radius:4px;
	-webkit-transition:background-color .2s linear;
	transition:background-color .2s linear
}
.ps-container.ie6 .ps-scrollbar-x {
	font-size:0
}
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x {
	background-color:#999
}
.ps-container .ps-scrollbar-y {
	position:absolute;
	right:0;
	width:8px;
	background-color:#aaa;
	border-radius:4px;
	-webkit-transition:background-color .2s linear;
	transition:background-color .2s linear
}
.ps-container.ie6 .ps-scrollbar-y {
	font-size:0
}
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y {
	background-color:#999
}
.ps-container.ie .ps-scrollbar-x,.ps-container.ie .ps-scrollbar-y {
	visibility:hidden
}
.ps-container.ie.hover .ps-scrollbar-x,.ps-container.ie.hover .ps-scrollbar-y,.ps-container.ie:hover .ps-scrollbar-x,.ps-container.ie:hover .ps-scrollbar-y {
	visibility:visible
}
@font-face {
	font-family:vipSidebarFont;
	src:url(../../font/vipSidebarFont.eot);
	src:url(../../font/vipSidebarFont.eot) format('embedded-opentype'),url(http://shop.vipstatic.com/font/common/vipSidebarFont.svg) format('svg'),url(../../font/vipSidebarFont.woff) format('woff'),url(../../font/vipSidebarFont.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
.vipSidebarFont {
	font-family:vipSidebarFont;
	font-size:24px;
	line-height:18px;
	color:#fff
}
.i-sidebarcom-asset,.i-sidebarcom-brand,.i-sidebarcom-cart,.i-sidebarcom-fav,.i-sidebarcom-footprint,.i-sidebarcom-nub,.i-sidebarcom-survey,.i-sidebarcom-top {
	position:relative;
	display:block;
	*margin-top:0;
	width:36px;
	height:36px;
	line-height:36px;
	background-color:#262626
}
.i-sidebarcom-my {
	position:relative;
	display:block;
	*margin-top:0;
	width:36px;
	font-size:26px
}
.i-sidebarcom-cart,.i-sidebarcom-survey,.i-sidebarcom-top {
	height:36px
}
.i-sidebarcom-footprint {
	margin-bottom:30px;
	position:relative
}
.i-sidebarcom-cart {
	margin:-1px auto 0;
	padding-top:15px;
	width:24px;
	border-top:1px solid #4c4c4c
}
.i-sidebarcom-survey,.i-sidebarcom-top {
	color:#ccc
}
.i-sidebarcom-nub {
	margin:5px auto 0;
	line-height:22px;
	border-bottom:1px solid #4c4c4c;
	text-align:center;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:0 -199px;
	width:20px;
	height:24px;
	background-repeat:no-repeat;
	color:#fff;
	padding-bottom:15px;
	position:relative;
	bottom:-1px
}
.i-sidebarcom-dm,.i-sidebarcom-pass,.i-sidebarcom-warn {
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-repeat:no-repeat
}
.i-sidebarcom-dm {
	float:right;
	margin-top:15px;
	width:18px;
	height:14px;
	background-position:-178px -173px;
	cursor:pointer
}
.i-sidebarcom-dm:hover {
	background-position:-196px -173px
}
.i-sidebarcom-countdown {
	display:inline-block;
	vertical-align:middle;
	margin:0 8px 0 4px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-74px -173px;
	width:18px;
	height:18px
}
.i-sidebarcom-warn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:17px;
	height:17px;
	vertical-align:middle;
	background-position:-96px -173px
}
.i-sidebarcom-pass {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:16px;
	height:16px;
	vertical-align:middle;
	background-position:-117px -173px
}
.sidebarcom-pop-prepay-icons {
	display:block;
	position:absolute;
	left:0;
	top:2px;
	width:34px;
	height:34px;
	background-position:-160px -129px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-repeat:no-repeat
}
.curr .i-sidebarcom-asset,.curr .i-sidebarcom-brand,.curr .i-sidebarcom-cart,.curr .i-sidebarcom-fav,.curr .i-sidebarcom-footprint,.curr .i-sidebarcom-survey,.curr .i-sidebarcom-top,.curr .sidebarcom-cart-text,.selected .i-sidebarcom-asset,.selected .i-sidebarcom-brand,.selected .i-sidebarcom-cart,.selected .i-sidebarcom-fav,.selected .i-sidebarcom-footprint,.selected .i-sidebarcom-survey,.selected .i-sidebarcom-top,.selected .sidebarcom-cart-text {
	background-color:#df147f;
	color:#fff
}
.curr .i-sidebarcom-nub,.selected .i-sidebarcom-nub {
	background-position:-24px -199px;
	background-color:#df147f;
	color:#f10983
}
.curr .i-sidebarcom-cart {
	border-top:1px solid #df147f;
	background-position:-80px -129px;
	background-color:#df147f
}
.curr .i-sidebarcom-nub {
	border-bottom:1px solid #000
}
.curr .sidebarcom-cart-bar {
	background-color:#df147f
}
.selected .sidebarcom-cart-bar {
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:0 0;
	background-color:#df147f
}
.selected .i-sidebarcom-cart {
	border-top:1px solid #df147f;
	background-position:-80px -129px
}
.sidebarcom-logon .uv_1,.sidebarcom-logon .uv_2,.sidebarcom-logon .uv_3,.sidebarcom-logon .uv_4,.sidebarcom-logon .uv_5,.sidebarcom-logon .uv_6 {
	display:inline-block;
	position:relative;
	top:6px;
	width:16px;
	height:21px;
	background-image:url(//shop.vipstatic.com/img/common/comm_level.png?0b970682);
	background-repeat:no-repeat;
	vertical-align:top
}
.sidebarcom-logon .uv_1 {
	background-position:right 0
}
.sidebarcom-logon .uv_2 {
	background-position:right -29px
}
.sidebarcom-logon .uv_3 {
	background-position:right -54px
}
.sidebarcom-logon .uv_4 {
	background-position:right -79px
}
.sidebarcom-logon .uv_5 {
	background-position:right -104px;
	width:26px
}
.sidebarcom-logon .uv_6 {
	background-position:right -132px;
	width:26px
}
.sidebarcom-vip1,.sidebarcom-vip10,.sidebarcom-vip11,.sidebarcom-vip12,.sidebarcom-vip13,.sidebarcom-vip14,.sidebarcom-vip15,.sidebarcom-vip16,.sidebarcom-vip2,.sidebarcom-vip3,.sidebarcom-vip4,.sidebarcom-vip5,.sidebarcom-vip6,.sidebarcom-vip7,.sidebarcom-vip8,.sidebarcom-vip9 {
	display:inline-block;
	_display:block;
	_zoom:1;
	margin:0 2px;
	width:21px;
	height:21px;
	vertical-align:middle;
	background-image:url(//shop.vipstatic.com/img/common/sidebar/sbar_logon_vip.png?ca3e4c34);
	background-repeat:no-repeat
}
.sidebarcom-vip1 {
	background-position:0 0
}
.sidebarcom-vip2 {
	background-position:-30px 0
}
.sidebarcom-vip3 {
	background-position:-60px 0
}
.sidebarcom-vip4 {
	background-position:-90px 0
}
.sidebarcom-vip5 {
	background-position:-120px 0
}
.sidebarcom-vip6 {
	background-position:-150px 0
}
.sidebarcom-vip7 {
	background-position:-180px 0
}
.sidebarcom-vip8 {
	background-position:-210px 0
}
.sidebarcom-vip9 {
	background-position:-240px 0
}
.sidebarcom-vip10 {
	background-position:-270px 0
}
.sidebarcom-vip11 {
	background-position:-300px 0
}
.sidebarcom-vip12 {
	background-position:-330px 0
}
.sidebarcom-vip13 {
	background-position:-360px 0
}
.sidebarcom-vip14 {
	background-position:-390px 0
}
.sidebarcom-vip15 {
	background-position:-420px 0
}
.sidebarcom-vip16 {
	background-position:-450px 0
}
.sidebarcom-vicon {
	display:inline-block;
	_display:block;
	_zoom:1;
	margin:0 2px;
	width:21px;
	height:21px;
	vertical-align:middle;
	background-image:url(//shop.vipstatic.com/img/common/sidebar/sbar_logon_vip.png?ca3e4c34);
	background-repeat:no-repeat
}
.sidebar-light-vicon1 {
	background-position:0 -30px
}
.sidebar-dark-vicon1 {
	background-position:0 -51px
}
.sidebar-light-vicon2 {
	background-position:-30px -30px
}
.sidebar-dark-vicon2 {
	background-position:-30px -51px
}
.sidebar-light-vicon3 {
	background-position:-60px -30px
}
.sidebar-dark-vicon3 {
	background-position:-60px -51px
}
.sidebar-light-vicon4 {
	background-position:-90px -30px
}
.sidebar-dark-vicon4 {
	background-position:-90px -51px
}
.sidebar-light-vicon5 {
	background-position:-120px -30px
}
.sidebar-dark-vicon5 {
	background-position:-120px -51px
}
.sidebar-light-vicon6 {
	background-position:-150px -30px
}
.sidebar-dark-vicon6 {
	background-position:-150px -51px
}
.sidebar-light-vicon7 {
	background-position:-180px -30px
}
.sidebar-dark-vicon7 {
	background-position:-180px -51px
}
.sidebar-light-vicon8 {
	background-position:-210px -30px
}
.sidebar-dark-vicon8 {
	background-position:-210px -51px
}
.sidebar-light-vicon9 {
	background-position:-240px -30px
}
.sidebar-dark-vicon9 {
	background-position:-240px -51px
}
.ions-style1 .icon-duo-light,.ions-style1 .icon-fa-light,.ions-style1 .icon-mi-light,.ions-style1 .icon-ruai-light,.ions-style2 .icon-duo-light,.ions-style2 .icon-fa-light,.ions-style2 .icon-mi-light,.ions-style2 .icon-ruai-light,.ions-style3 .icon-duo-dark,.ions-style3 .icon-fa-light,.ions-style3 .icon-mi-light,.ions-style3 .icon-ruai-dark,.ions-style4 .icon-duo-dark,.ions-style4 .icon-fa-light,.ions-style4 .icon-mi-light,.ions-style4 .icon-ruai-dark,.ions-style5 .icon-duo-dark,.ions-style5 .icon-fa-dark,.ions-style5 .icon-fa-light,.ions-style5 .icon-mi-dark,.ions-style5 .icon-ruai-dark,.ions-style6 .icon-duo-dark,.ions-style6 .icon-fa-dark,.ions-style6 .icon-mi-dark,.ions-style6 .icon-ruai-dark {
	display:none
}
.ions-style5 .icon-fa-dark {
	display:inline-block
}
.i-sidebarcom-btn {
	display:block;
	margin:0 auto;
	background-color:#f10180;
	border-radius:3px;
	color:#fff;
	text-align:center;
	cursor:pointer
}
.i-sidebarcom-btn:hover {
	background-color:#f43499;
	color:#fff
}
.i-sidebarcom-btn:active {
	background-color:#d70173
}
.fav-font-tp,.pop-font-tp {
	color:#f10180
}
.fav-font-tp {
	margin:5px 0;
	font-size:14px
}
.fav-font-tp a {
	color:#f10180
}
.m-sidebarcom {
	_display:none;
	position:fixed;
	right:0;
	top:0;
	z-index:101;
	width:36px;
	height:100%;
	font-family:"Microsoft YaHei"
}
.m-sidebarcom .salebg2 {
	font-family:arial;
	color:#f10180
}
.sidebarcom-nav {
	position:relative;
	z-index:101;
	height:100%;
	background-color:#262626
}
.sidebarcom-nav-cnt {
	margin-top:-250px;
	height:400px;
	position:absolute;
	top:50%;
	right:0
}
.sidebarcom-nav-ft {
	position:absolute;
	bottom:0;
	right:0
}
.i-sidebarcom-brand-tips {
	z-index:10;
	position:absolute;
	right:5px;
	top:4px;
	width:6px;
	height:6px;
	border-radius:10px;
	background-color:red
}
.i-sidebarcom-mypic {
	display:block;
	margin:28px auto 16px;
	border-radius:20px;
	cursor:pointer
}
.sidebarcom-pop {
	position:absolute;
	right:-300px;
	top:0;
	overflow:hidden;
	width:246px;
	padding:0 14px;
	background-color:#fff;
	border:1px solid #cecece;
	border-right:none;
	-webkit-transition:right .2s linear;
	transition:right .2s linear;
	box-shadow:-5px 1px 8px rgba(0,0,0,.15)
}
.sidebarcom-pop-hd {
	overflow:hidden;
	padding:10px 0;
	border-bottom:1px solid #dedcdc
}
.sidebarcom-pop-hd span {
	color:#262626;
	font-size:16px
}
.sidebarcom-pop-hd .i-sidebarcom-dm {
	margin-top:5px
}
.sidebarcom-pop-hd a .sidebarcom-cart-hd-txt {
	color:#333
}
.sidebarcom-pop-bd {
	position:relative;
	overflow:hidden;
	width:258px;
	height:630px
}
.sidebarcom-header {
	width:246px
}
.sidebarcom-pop-cnt {
	width:244px;
	padding-bottom:20px
}
.sidebarcom-pop-show {
	right:36px
}
.sidebarcom-my-message,.sidebarcom-my-order {
	float:left;
	position:relative;
	width:135px;
	height:66px;
	padding-top:10px;
	text-align:center;
	font-size:9px
}
.sidebarcom-my-message a,.sidebarcom-my-order a {
	font-size:12px
}
.sidebarcom-my-order {
	width:136px;
	border-right:1px solid #e5e5e5
}
.sidebarcom-my-cnt {
	text-align:center;
	font-family:"\5B8B\4F53"
}
.i-sidebarcom-message,.i-sidebarcom-order {
	display:block;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-repeat:no-repeat
}
.i-sidebarcom-message,.i-sidebarcom-order {
	width:26px;
	height:26px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto
}
.i-sidebarcom-mynub {
	display:none;
	-webkit-transform:scale(.8);
	-o-transform:scale(1);
	width:20px;
	height:20px;
	line-height:19px;
	position:absolute;
	right:8px;
	top:-5px;
	background:#df147f;
	color:#fff;
	font-size:10px;
	-webkit-text-size-adjust:none;
	border-radius:50%
}
.i-sidebarcom-order {
	background-position:-200px -90px
}
.i-sidebarcom-message {
	background-position:-200px -60px
}
.sidebarcom-my-inf {
	padding-bottom:20px;
	text-align:center
}
.sidebarcom-my-inf a {
	margin:0 3px;
	color:#f10180
}
.sidebarcom-my-oper {
	clear:both;
	overflow:hidden;
	margin:0 -14px;
	width:274px;
	padding:14px 0;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background-color:#f8f8f8
}
.sidebarcom-my-oper a:hover .i-sidebarcom-order {
	background-position:-200px 0
}
.sidebarcom-my-oper a:hover .i-sidebarcom-message {
	background-position:-200px -30px
}
.sidebarcom-my-pic {
	display:block;
	margin:30px auto 20px;
	width:66px;
	height:66px;
	border:1px solid #fff;
	box-shadow:0 1px 3px #ddd
}
.sidebarcom-my-ft {
	padding:12px;
	text-align:right
}
.sidebarcom-my-ft a {
	color:#20a0cd
}
.sidebarcom-asset-tips {
	padding:50px 0;
	text-align:center;
	font-size:14px
}
.sidebarcom-asset-tips img {
	margin-bottom:20px
}
.sidebarcom-asset-tips a {
	color:#20a0cd
}
.sidebarcom-logon-ft,.sidebarcom-logon-inf {
	display:none;
	margin:0 -5px;
	line-height:24px
}
.sidebarcom-logon-inf {
	padding-bottom:10px;
	line-height:30px;
	text-align:center
}
.sidebarcom-logon .sidebarcom-my-ft,.sidebarcom-logon .sidebarcom-my-inf {
	display:none
}
.sidebarcom-logon-ft {
	padding:10px 0;
	text-align:left
}
.sidebarcom-logon-ft a {
	color:#2395ec
}
.asset-cpn {
	background-image:url(//shop.vipstatic.com/img/te/sidebar/asset-list-cnt-bg.jpg?4b25f9fc);
	background-repeat:no-repeat;
	margin:16px auto 0;
	width:231px;
	line-height:22px;
	color:#fff;
	overflow:hidden;
	min-height:117px;
	background-position:left top;
	border-bottom:#efd6b2 1px solid
}
.asset-cpn a {
	color:#948158
}
.asset-cpn-cnt {
	position:relative;
	height:64px;
	padding:20px 12px 2px;
	*padding-top:0;
	*height:84px;
	background-image:url(//shop.vipstatic.com/img/te/sidebar/asset-list-cnt-bg.jpg?4b25f9fc);
	background-position:0 0
}
.asset-list-tit {
	margin:10px 0;
	font-size:14px
}
.asset-cpn-time {
	position:absolute;
	right:0;
	top:8px;
	padding:0 3px;
	color:#fff;
	background-color:#f10583;
	border-radius:12px 0 0 12px;
	padding-left:10px
}
.asset-cpn-name {
	width:211px;
	padding:6px 10px;
	color:#222
}
.asset-cpn-name a {
	color:#333
}
.asset-cpn-name a:hover {
	color:#f10180
}
.asset-cpn-name .acn-p {
	text-overflow:ellipsis;
	white-space:nowrap;
	line-height:20px;
	overflow:hidden;
	width:200px;
	margin-right:auto;
	margin-left:auto;
	border-bottom:#e6e4cf 1px dashed
}
.asset-cpn-name .acn-p:last-child {
	border-bottom:none
}
.asset-cpn-name .p-type-link {
	margin-left:5px;
	cursor:pointer;
	color:#1d94d1
}
.asset-cpn-name .p-type-link:hover {
	color:#3cbdff
}
.acn-p-coupons {
	width:200px;
	margin:0 auto;
	line-height:16px
}
.asset-cpn-date {
	position:absolute;
	left:10px;
	bottom:10px;
	padding:2px;
	line-height:18px;
	height:18px;
	text-align:left;
	color:#948158
}
.asset-cpn-free-hd {
	padding-top:3px;
	font-size:30px;
	color:#e5a611;
	font-weight:700
}
.asset-cpn-nub {
	padding-top:3px;
	font-size:14px;
	color:#e5a611;
	*line-height:45px
}
.asset-cpn-nub .asset-cpn-nub-big {
	font-size:45px;
	font-family:arial;
	font-weight:700
}
.asset-cpn-nub em {
	font-size:20px;
	font-family:arial
}
.asset-cpn-style {
	font-size:14px
}
.asset-cpn-inf {
	font-size:12px
}
.asset-cpn-feature {
	background-position:right top;
	border-bottom:#dbdbdb 1px solid
}
.asset-cpn-feature .asset-cpn-time {
	background-color:#1c96c9
}
.asset-cpn-feature .asset-cpn-date,.asset-cpn-feature .asset-cpn-name,.asset-cpn-feature .asset-cpn-nub {
	color:#bfbfbf
}
.asset-cpn-feature .asset-cpn-cnt {
	background-position:right top
}
.i-cpn-btn {
	min-width:48px;
	_width:48px;
	padding:0 11px;
	font:12px/22px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
	_line-height:24px;
	height:22px;
	display:inline-block;
	border-radius:3px;
	text-decoration:none;
	text-align:center;
	vertical-align:top;
	-webkit-transition:.3s;
	transition:.3s;
	cursor:pointer;
	*white-space:nowrap;
	_overflow-y:hidden
}
.i-cpn-btn:hover {
	text-decoration:none
}
.u-btn-fav-more {
	display:block;
	margin:14px auto 40px;
	width:237px;
	height:34px;
	line-height:34px;
	border:1px solid #d8d6d6;
	border-radius:3px;
	background-color:#f9f7f8;
	text-align:center;
	font-family:"\5B8B\4F53";
	color:#000
}
.u-btn-fav-more:hover {
	background-color:#fff;
	color:#333
}
.u-btn-fav-more:active {
	background-color:#f0f0f0
}
.i-sidebarcom-arr {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-top:5px;
	margin-left:5px;
	width:12px;
	height:9px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-214px -173px;
	background-repeat:no-repeat
}
.z-brand-tit {
	margin:10px 0;
	font-size:14px
}
.i-brand-more {
	margin-top:10px;
	width:160px;
	height:34px;
	line-height:34px;
	font-size:16px
}
.i-sidebarcom-btn-arr {
	font-family:'\5B8B\4F53'
}
.fav-null-tit {
	margin:40px 0 10px;
	font-size:14px
}
.fav-goods-tips {
	bottom:-20px
}
.sidebracom-pop-brand {
	position:absolute;
	right:36px;
	top:0;
	border:1px solid #ddd;
	border-radius:4px;
	background-color:#fff
}
.sidebracom-pop-goods {
	position:absolute;
	right:36px;
	top:-86px;
	border:1px solid #ddd;
	border-radius:4px;
	background-color:#fff
}
.sidebracom-pop-goods .cart-pop-arrow {
	top:96px
}
.sidebarcom-pop-tips {
	display:none;
	position:absolute;
	right:36px;
	top:0;
	width:218px
}
.sidebarcom-pop-tips-close {
	display:block;
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	margin:8px 8px 0 0;
	width:20px;
	height:20px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-26px -173px;
	background-repeat:no-repeat;
	cursor:pointer
}
.sidebarcom-pop-tips-close:hover {
	background-position:-50px -173px
}
.sidebarcom-pop-tips-cnt {
	display:none;
	width:160px;
	line-height:20px;
	padding:10px 28px;
	border:1px solid #ddd;
	border-radius:4px;
	background-color:#fff;
	text-align:center;
	font-size:14px
}
.sidebarcom-pop-tips-cnt .i-sidebarcom-pass {
	margin-right:4px
}
.sidebarcom-pop-tips-ft {
	margin:10px -16px 0;
	padding-top:4px;
	border-top:1px solid #d3d1d1;
	font-size:12px
}
.sidebarcom-pop-tips-ft a {
	color:#1c99cc
}
.sidebarcom-pop-tips-txt {
	margin:10px -16px 0;
	padding-top:4px;
	font-size:12px;
	text-align:center
}
.cart-pop-tips {
	position:absolute;
	right:40px;
	top:0
}
.cart-pop-arrow {
	display:inline-block;
	position:absolute;
	right:-9px;
	top:13px;
	z-index:1;
	margin:0 5px;
	width:0;
	height:0;
	font-size:0;
	border-width:5px 0 5px 5px;
	border-color:transparent transparent transparent #fff;
	border-style:solid
}
.brand-pop-tips {
	position:absolute;
	right:40px
}
.sidebarcom-cart-text {
	margin:0 auto;
	width:14px;
	line-height:18px;
	font-size:14px;
	color:#fff
}
.sidebarcom-pop-hd-tips {
	margin-left:5px;
	color:#f10180
}
.sidebarcom-cs-time {
	background:url(//shop.vipstatic.com/img/common/comm_new_imgs.png?9d847703) no-repeat -300px -100px;
	padding-left:23px
}
.sidebarcom-cart .sidebarcom-pop-tips {
	top:12px
}
.sidebarcom-my .sidebarcom-pop-tips {
	z-index:1
}
.is-cart-highlight .i-sidebarcom-cart,.is-cart-highlight .i-sidebarcom-nub,.is-cart-highlight .sidebarcom-cart-bar,.is-cart-highlight .sidebarcom-cart-text {
	background-color:#df147f;
	color:#fff
}
.is-cart-highlight .i-sidebarcom-cart {
	border-top:1px solid #df147f;
	background-position:-80px -129px
}
.is-cart-highlight .i-sidebarcom-nub {
	background-position:-24px -199px;
	color:#f10983;
	border-bottom:1px solid #000
}
.sidebarcom-cart-pop-tips {
	line-height:20px;
	padding:10px 28px;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:3px;
	font-size:14px;
	color:#4c4c4c
}
.pop-font-btn {
	display:block;
	margin-top:5px;
	color:#f10983
}
.m-cart-list {
	position:relative;
	width:248px
}
.sidebarcom-cart-tips {
	display:none;
	overflow:hidden;
	line-height:20px;
	padding:10px;
	border:1px solid #ddd;
	border-radius:4px;
	box-shadow:0 0 2px #ddd;
	background-color:#fffbf3;
	font-size:12px;
	color:#666
}
.sidebarcom-cart-tips-txt {
	float:left;
	width:80%
}
.i-sidebarcom-cart-tips {
	float:left;
	margin-right:10px;
	width:25px;
	height:28px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-200px -120px;
	background-repeat:no-repeat
}
.sidebarcom-cart-list {
	overflow:hidden;
	padding:10px 0;
	border-bottom:1px dotted #eaeaea
}
.sidebarcom-cart-list dd {
	float:left;
	width:50px;
	line-height:36px;
	text-align:right
}
.sidebarcom-cart-list .cart-list-nub {
	text-align:center
}
.sidebarcom-cart-list .salebg2 {
	font-size:14px;
	font-weight:100;
	color:#f10180
}
.sidebarcom-cart-list-inf {
	float:left;
	width:140px;
	overflow:hidden
}
.sidebarcom-cart-list-inf img {
	float:left;
	margin-right:10px;
	width:49px;
	height:61px
}
.sidebarcom-cart-list-name {
	margin-bottom:10px;
	height:28px;
	line-height:14px;
	overflow:hidden;
	color:#333;
	font-family:"\5B8B\4F53"
}
.sidebarcom-cart-list-size {
	color:#9f9e9e
}
.sidebarcom-cart-oper-inf {
	line-height:18px;
	color:#666;
	font-family:"\5B8B\4F53";
	text-align:center;
	padding:6px 0 9px
}
.sidebarcom-cart-oper-inf .salebg2 {
	font-size:20px;
	margin-left:20px
}
.sidebarcom-cart-pop {
	position:absolute;
	left:107px;
	top:126px;
	width:96px;
	padding:8px 10px;
	border:1px solid #f8dbb1;
	background-color:#fffaf3
}
.sidebarcom-cart-pop p {
	padding-top:10px
}
.sidebarcom-cart-pop .i-sidebarcom-arrtp {
	display:block;
	margin:-14px auto 0;
	width:10px;
	height:6px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-148px -199px;
	background-repeat:no-repeat
}
.sidebarcom-cart-null {
	padding:80px 0;
	text-align:center;
	font-size:14px
}
.sidebarcom-cart-null .u-sidebarcom-btn {
	margin-top:10px;
	height:32px;
	line-height:30px;
	text-align:center;
	font-size:14px
}
.m-cart-oper {
	margin-top:-1px;
	padding:10px 0;
	border-top:1px solid #d3d1d1;
	background-color:#fff
}
.m-cart-oper .u-sidebarcom-btn {
	margin-top:0;
	width:100%;
	height:36px;
	line-height:34px;
	font-size:16px
}
.u-sidebarcom-btn {
	margin-top:14px;
	width:100px;
	height:30px;
	line-height:28px;
	font-size:14px
}
.cart-oper-fixed .m-cart-oper {
	position:fixed;
	bottom:0;
	width:248px
}
.cart-oper-fixed .m-cart-list {
	padding-bottom:56px
}
.cart-font-tp {
	color:#f10983
}
.cart-font-clear {
	font-size:12px;
	color:#666
}
.cart-font-tips {
	margin-top:30px
}
.coudn-bag {
	position:relative;
	top:-138px;
	left:2px;
	width:30px;
	height:30px;
	border:1px solid #4c4c4c;
	border-radius:16px;
	filter:alpha(opacity=50);
	-webkit-opacity:.5;
	-moz-opacity:.5;
	opacity:.5
}
.coudn-bag .sector-box,.coudn-bag-ins,.coudn-bag-ins-sec {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-16px;
	margin-top:-16px;
	width:32px;
	height:32px;
	border-radius:16px
}
.coudn-bag-ins-sec,.first-box {
	clip:rect(0,32px,32px,16px)
}
.coudn-bag-ins,.second_box {
	clip:rect(0,16px,32px,0)
}
.coudn-bag-ins,.coudn-bag-ins-sec {
	background-color:#4c4c4c
}
.coudn-bag-ins {
	-webkit-transform:rotate(30deg);
	-ms-transform:rotate(30deg);
	transform:rotate(30deg)
}
.coudn-bag-txt,.coudn-bag-txt-end {
	position:absolute;
	left:1px;
	bottom:-6px;
	width:100%;
	text-align:center;
	font-size:12px;
	font-family:"Microsoft YaHei"
}
.coudn-bag-txt {
	color:#f10082
}
.sidebarcom-countdown-tips {
	display:none;
	position:absolute;
	right:36px;
	top:46px;
	width:75px;
	height:33px;
	line-height:33px;
	white-space:nowrap;
	padding:0 8px;
	border:1px solid #ddd;
	border-right:none;
	border-radius:3px 0 0 3px;
	box-shadow:-5px 1px 8px rgba(0,0,0,.15);
	background-color:#fff;
	text-align:center;
	font-size:14px;
	color:#f10180
}
.selected .sidebarcom-countdown-tips {
	display:none
}
.sidebarcom-tips-pop {
	display:none;
	position:absolute;
	right:36px;
	bottom:50px;
	z-index:100;
	width:140px;
	height:152px;
	padding-top:16px;
	border:1px solid #f2f2f2;
	border-radius:3px;
	background-color:#fff;
	text-align:center;
	font-size:14px;
	-webkit-transition:.3s linear;
	transition:.3s linear
}
.sidebarcom-tips-pop-btn {
	display:block;
	margin-top:16px;
	width:100px;
	height:28px;
	line-height:26px;
	font-size:14px;
	cursor:pointer
}
.sidebarcom-order-cnt {
	width:258px;
	height:140px;
	padding:0 0 20px;
	font-size:12px;
	color:#666
}
.sidebarcom-order-cnt h5 {
	clear:both;
	overflow:hidden;
	margin:10px 0;
	padding-top:14px;
	font-size:15px
}
.sidebarcom-order-cnt .i-sidebarcom-warn {
	margin-right:8px
}
.sidebarcom-tips-show {
	right:324px
}
.sidebarcom-asset,.sidebarcom-brand,.sidebarcom-cart,.sidebarcom-fav,.sidebarcom-footprint,.sidebarcom-my,.sidebarcom-survey,.sidebarcom-top {
	position:relative;
	width:36px;
	margin-bottom:8px;
	text-align:center;
	cursor:pointer
}
.sidebarcom-my {
	line-height:1.8
}
.sidebarcom-my-con {
	padding:8px 0 6px
}
.sidebarcom-my:hover {
	background-color:#df147f
}
.sidebarcom-my-name {
	font-size:12px;
	color:#fff
}
.sidebarcom-top .sidebarcom-hover {
	top:0
}
.sidebarcom-survey .sidebarcom-hover,.sidebarcom-top .sidebarcom-hover {
	height:34px;
	line-height:34px
}
.sidebarcom-hover {
	position:absolute;
	right:-120px;
	top:0;
	z-index:-1;
	width:100px;
	height:34px;
	line-height:34px;
	padding:0 8px;
	border-radius:3px 0 0 3px;
	background-color:#fff;
	border:1px solid #ddd;
	border-right:none;
	font-size:14px;
	text-align:center;
	-webkit-transition:.3s linear;
	transition:.3s linear
}
.curr .sidebarcom-hover {
	right:36px;
	-webkit-transition:.2s linear;
	transition:.2s linear
}
.selected .i-sidebarcom-brand-tips,.selected .sidebarcom-hover {
	display:none
}
.s-sidebarcom {
	right:-36px
}
.s-sidebarcom,.s-sidebarcom .sidebarcom-nav {
	background:0 0
}
.s-sidebarcom .sidebarcom-asset,.s-sidebarcom .sidebarcom-brand,.s-sidebarcom .sidebarcom-fav,.s-sidebarcom .sidebarcom-footprint,.s-sidebarcom .sidebarcom-my,.s-sidebarcom .sidebarcom-survey {
	display:none
}
.s-sidebarcom .sidebarcom-cart,.s-sidebarcom .sidebarcom-top {
	background-color:#262626;
	border-radius:3px 0 0 3px
}
.s-sidebarcom .sidebarcom-cart {
	overflow:hidden;
	margin-top:68px;
	right:36px
}
.s-sidebarcom .sidebarcom-top {
	margin-top:260px;
	right:36px
}
.sidebarcom-loading {
	height:800px;
	background:url(//shop.vipstatic.com/img/common/sidebar/loading.gif?14105a40) no-repeat center 100px
}
.s-sidebarcom-wait .i-sidebarcom-fav {
	margin:20px auto 0
}
.s-sidebarcom-wait .sidebarcom-fav {
	display:block;
	right:36px;
	margin-top:188px;
	padding-bottom:10px;
	background-color:#262626
}
.s-sidebarcom-wait .sidebarcom-cart {
	margin-top:0;
	border-radius:0 0 0 3px
}
.i-sidebarcom-brand-fav {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:16px;
	height:15px;
	background-image:url('../../images/category/sprite/t_sprite.png');
	background-position:-158px -173px;
	background-repeat:no-repeat;
	cursor:pointer;
	vertical-align:middle
}
.sidebarcom-bao {
	z-index:-1;
	width:55px;
	height:72px;
	background-image:url(../../images/category/sprite/x.png);
	background-repeat:no-repeat;
	cursor:pointer
}
.sidebarcom-bao-pop {
	position:absolute;
	left:-125px;
	top:-45px;
	width:150px;
	height:50px;
	padding:8px 10px;
	background-image:url(//shop.vipstatic.com/img/common/sidebar/sbar_bao_pop.png?f9a64bc7);
	background-repeat:no-repeat;
	font-size:12px
}
.sidebarcom-bao .footprint-tips {
	line-height:30px
}
.sidebarcom-bao .if-cross {
	position:absolute;
	top:2px;
	right:12px;
	font-size:12px
}
.wait-list-tips {
	width:244px;
	height:28px;
	line-height:28px;
	border:1px solid #f8dbb1;
	background-color:#fffbf3;
	text-align:center
}
.sidebarcom-pop-prepay-tips {
	position:relative;
	border:1px solid #ddd;
	box-shadow:0 0 2px #ddd;
	background-color:#fff;
	text-align:left;
	padding:10px 20px 20px
}
.sidebarcom-pop-prepay-tips h5 {
	font-size:18px;
	font-weight:100;
	color:#000
}
.sidebarcom-pop-prepay-tips .sidebarcom-pop-prepay-p {
	margin:6px auto 0;
	width:97px;
	padding-left:40px;
	line-height:18px;
	position:relative
}
.sidebarcom-pop-prepay-tips .i-sidebarcom-btn {
	margin-top:10px;
	width:133px;
	height:24px;
	line-height:22px
}
.f-wait-have-cnt .sidebarcom-header {
	position:relative;
	top:0
}
.f-wait-btn0 .i-wait-add {
	display:block
}
.f-wait-btn1 .i-wait-end {
	display:block
}
.f-wait-btn2 .i-wait-ing {
	display:block
}
.f-wait-btn3 .i-wait-pay {
	display:block
}
.i-sidebarcom-prepay {
	position:absolute;
	left:0;
	top:0;
	padding:0 3px;
	border:1px solid #ff73a4;
	border-radius:2px;
	background-color:#fff;
	color:#ff73a4
}
.sidebarcom-pop-brand {
	display:block;
	right:-36px
}
.sidebarcom-pop-brand .vipFont {
	color:#f10180;
	display:block;
	float:left;
	margin:-3px 4px 0 0
}
.sidebarcom-pop-brand p {
	text-align:left
}
.sidebarcom-pop-brand-show {
	right:36px
}
.asset-cpn-hb {
	display:block;
	margin:18px auto 0;
	width:237px
}
.sidebar-act {
	margin-bottom:8px
}
@media screen and (max-height:768px) {
	.sidebarcom-asset,.sidebarcom-brand,.sidebarcom-fav,.sidebarcom-footprint,.sidebarcom-my,.sidebarcom-survey {
		margin-bottom:2px
	}
	.sidebar-act,.sidebarcom-cart {
		margin-bottom:4px
	}
}
