body{
	min-width: 960px;
    overflow-x: auto;
    background-color: #fff;
	font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,Î¢ÈíÑÅºÚ,ËÎÌå,sans-serif;
    color: #333;
	margin: 0;
    padding: 0;
}
.public-header {
	margin: 0;
	padding: 0;
	-moz-user-select: none;
}
.public-header a {
    text-decoration: none;
    font-size:12px;
}
.public-header .hd-wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.public-header div{
	font-size:12px;
	line-height:1.5;
	color:#666£»
}
.public-header dl{
	font-size: 12px;
    line-height: 1.5;
    color: #666;
    margin: 0;
}
.hd-top div{
	margin: 0;
    padding: 0;
}
.hd-main{
	background: #fff;
}
.hd-main a{
	color:#666;
}
.hd-wrap div{
	padding:0;
}
 .hd-top-left a.on {
    background: #fff;
    text-decoration: none;
    font-weight: bolder;
}
.hd-top {
	height: 31px;
	background: #ededed;
	border-bottom: 1px solid #f5f5f5;
}

.hd-top .hd-wrap {
	z-index: 21;
}

.g-wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 24px;
	padding-bottom: 24px;
}

.hd-top-left, .hd-top-right {
    position: absolute;
    z-index: 9;
}
.hd-top-left {
    top: 1px;
    left: 0;
}
.hd-top-left div{
	margin: 0;
    padding: 0;
}
.hd-top-left a.btn-gobuy {
	width: 90px;
}

.hd-top-left a {
	color: #333;
	float: left;
	height: 31px;
	line-height: 31px;
	text-align: center;
}
.hd-top-right {
    right: 0;
    top: 0;
    content: "";
}
.hd-top-right {
    position: absolute;
    z-index: 9;
}

.hd-top-right .u-wel {
	float: left;
	line-height: 32px;
}
.hd-top-right a.u-name{
	overflow: hidden;
    text-align: center;
    margin: 0;
    font-weight: bolder;
}
 .hd-top-right a{
	float: left;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #666;
}
.hd-top-right div{
	margin: 0;
    padding: 0;
}
.hd-top-right a.u-vmark {
    margin: 0 3px;
}
.u-vmark .v0 {
    background-position: 4px 2px;
}
.u-vmark{
	width:25px;
	background:url("../../images/order/i-level-small.png") no-repeat;
}
.hd-top-right a{
	outline:0;
	vertical-align: top;
}
.hd-top-right a.u-order{
    margin-left: 10px;
}
.hd-top-right a.u-brand{
	margin-left:10px;
}
.hd-top-right a.u-club{
	margin-left:10px;
}
.hd-top-service {
    width: 75px;
    float: left;
    position: relative;
    margin-left: 10px;
    padding: 0 5px 0 10px;
    border: 1px solid transparent;
}
.hd-top-service .if-arrow-bottom {
    position: absolute;
    top: 0;
    transition: all .2s ease;
}
.hd-main .hd-wrap {
    height: 100px;
    z-index: 20;
}
.public-header .hd-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.hd-logo {
    position: absolute;
    left: 0;
    bottom: 15px;
}
.hd-logo-bg {
    background: url("../../images/order/header-icon.png") 392px 14px no-repeat;
}
.hd-logo-bg .hd-purchase {
    position: absolute;
    left: 878px;
    top: 46px;
}

.hd-logo-bg .hd-purchase a {
    width: 65px;
    display: block;
    text-align: center;
}

.hd-logo-bg a:hover {
    color: #1d94d1;
    text-decoration: none;
}

.hd-logo-link {
    display: block;
    width: 267px;
    height: 71px;
    background: url("../../images/order/logo.png") no-repeat;
}
.hd-nav-bg {
    width: 100%;
    height: 32px;
    background: #f10582;
    position: relative;
    z-index: 9;
}
.hd-main-nav {
    width: 960px;
    height: 40px;
    margin: 0 auto;
}

.hd-main-nav-dl.hd-main-index {
    width: 131px;
    height: 39px;
    background: url("../../images/order/myvip-bg.png") no-repeat;
    margin-right: 27px;
    z-index: 21;
    position: relative;
}
.hd-main-nav .hd-main-nav-dl {
    float: left;
}
.hd-main-nav .hd-main-nav-dl dt a {
    height: 32px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}
.hd-main-nav-dl.hd-main-index dt a {
    width: 131px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}
.hd-main-nav .hd-main-nav-dl {
    width: 131px;
    height: 39px;
    z-index: 19;
    float: left;
    margin-right: 8px;
}
.hd-main-nav .hd-main-nav-dl.hd-nav-right {
    float: right;
}

.payment-method-item {
    float: left;
    padding: 10px 13px 15px;
    width: 179px;
    height:52px;
}
.payment-method-item .c-payment-method {
    z-index: 3;
}
.has-payment-method-type {
    cursor: default;
}
.c-payment-method {
    display: inline-block;
    position: relative;
    width: 177px;
    height: 50px;
    border: 1px solid #d2d1d1;
}
.icon-payment-logo {
    background-image: url(../../images/order/bank.png);
}
.payment-method-clip-background {
    background-color: #fff;
}
.icon-payment-logo-ccb {
    background-position: 0 -520px;
}
.icon-payment-logo-icbc {
    background-position: 0 -1120px;
}
.icon-payment-logo-abc {
    background-position: 0 -40px;
}
.icon-payment-logo-cmb {
    background-position: 0 -640px;
}
.icon-payment-logo-boc {
    background-position: 0 -400px;
}
.icon-payment-logo-spdb {
    background-position: 0 -1600px;
}
.icon-payment-logo-psbc {
    background-position: 0 -1360px;
}
.icon-payment-logo-bcom {
    background-position: 0 -200px;
}
.icon-payment-logo-pab {
    background-position: 0 -1320px;
}
.icon-payment-logo-gdb {
    background-position: 0 -880px;
}
.icon-payment-logo-cncb {
    background-position: 0 -760px;
}
.icon-payment-logo-cib {
    background-position: 0 -600px;
}
.icon-payment-logo-ceb {
    background-position: 0 -560px;
}
.icon-payment-logo-cmbc {
    background-position: 0 -680px;
}
.icon-payment-logo-hxb {
    background-position: 0 -1040px;
}
.icon-payment-logo-bos {
    background-position: 0 -440px;
}
.icon-payment-logo-gzrcc {
    background-position: 16px -960px;
}

.icon-payment-logo {
    display: inline-block;
    width: 175px;
    height: 40px;
    vertical-align: top;
    background-repeat: no-repeat;
}
.payment-method-logo-a {
    position: absolute;
    top: 5px;
    left: 1px;
    z-index: 2;
}
.m-payment-operation {
    padding-left: 0;
}
.is-payment-operation-guide-in {
    line-height: 44px;
}
.m-payment-operation {
    text-align: left;
    padding: 30px 0 0 42px;
    clear: both;
}
.is-button-disabled{
	cursor: not-allowed;
    color: #9b9b9b;
    transition: none;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.c-order-actions {
    padding-left: 0;
}
.c-order-actions {
    text-align: left;
    margin-top: 20px;
    padding-right: 0;
    font-size: 14px;
}
.c-order-actions a {
    margin-right: 0;
    margin-left: 10px;
}
.floats-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    height: 0;
}
.g-row {
    margin-right: auto;
    width: 960px;
    margin-left: auto;
}
.m-order-status-a {
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 14px;
}
.order-status-tips-a {
    margin-bottom: 7px;
    padding-top: 10px;
}
.m-tips {
    min-height: 16px;
    font-size: 0;
}
.m-tips .tips-cnt {
    padding-top: 4px;
}
.m-tips .tips-cnt{
	display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 12px;	
}
.order-status-tips-a .tips-text {
    color: #333;
    font-size: 20px;
}
.m-tips .tips-text {
    line-height: 24px;
}
p{
	margin: 0;
   padding: 0;
}
.order-status-info-a {
    height: 35px;
    line-height: 35px;
}
.order-status-info-a {
    padding-left: 42px;
}
div{
	margin:0;
	padding:0;
}
.order-status-info-a .order-info-countdown-row {
    float: left;
}
.order-detail-tooltips-trigger {
    z-index: 3;
}
.m-tooltips-trigger, .tooltips-trigger {
    display: inline-block;
    position: relative;
}
.order-detail-tooltips-trigger .tooltips-trigger-text {
    color: #1d94d1;
}
.m-tooltips-trigger .tooltips-trigger-text{
	cursor: help;
}
.order-detail-tooltips {
    width: 390px;
    left: -70px;
    top: 25px;
}
.ui-tooltips {
    visibility: hidden;
    opacity: 0;
    transition: transform ease-out .15s,opacity ease-out .15s;
}
.ui-tooltips-top-left-arrow{
	transform: translateY(10px);
}
.ui-tooltips {
    position: absolute;
    max-width: 800px;
    border: 1px solid #dbdada;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font: 12px/18px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #4d4d4d;
    z-index: 50;
}
.order-status-info-a .to-be-paid {
    float: right;
}
.order-status-info-a .m-price {
    color: #e3007f;
}
.order-status-info-a .u-yen {
    font-size: 16px;
}
.u-yen {
    padding: 0 2px;
    font-family: Arial !important;
}
.order-status-info-a .u-price {
    font-size: 22px;
}
.u-price {
    font-family: Arial !important;
}
.top-ad-box {
    margin-bottom: 10px;
}
.c-ad-box {
    padding: 6px 15px;
    height: 18px;
    border: 1px solid #f8dbb1;
    background-color: #fffaf3;
    overflow: hidden;
}
.ad-box-explain {
    color: #333;
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.m-payment-box-a {
    background: 0 0;
}
.m-payment-box-a {
    position: relative;
    padding-top: 3px;
    padding-bottom: 40px;
    z-index: 1;
}
.payment-box-a-content {
    position: relative;
    background-color: #fff;
    z-index: 2;
}
.m-payment-common {
    position: relative;
    z-index: 6;
}
.m-payment-selection {
    width: auto;
}
.m-payment-selection {
    margin-right: auto;
    margin-left: auto;
}
.is-payment-selection-tab-in .payment-selection-tab {
    display: block;
}
.payment-selection-tab {
    padding-top: 19px;
    border-bottom: 1px solid #c6c7c7;
}
.payment-a-tab-header {
    padding: 0;
}
.payment-a-tab-header {
    height: 43px;
}
.is-payment-a-tab-trigger-active {
    cursor: default;
    background-color: #fff;
    border-bottom-color: #fff;
    z-index: 2;
}
.payment-a-tab-trigger {
    display: inline;
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 10px 20px;
    height: 21px;
    font: 14px/21px "Microsoft Yahei";
    color: #333;
    vertical-align: top;
    text-align: center;
    border: 1px solid #cbcaca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.payment-selection-position {
    position: relative;
    height: 0;
    z-index: 10;
}
.payment-selection-position .payment-selection-tips {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 5px;
    margin: 0;
    padding: 0;
    line-height: 32px;
    height: 32px;
    display: inline-block;
    color: #249fdf;
}
.payment-selection-position .if-info {
    display: inline-block;
    vertical-align: top;
}
.if-info {
    color: #249fdf;
}
.vipFont {
    font-family: vipFont;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
}
.payment-a-tab-body {
    margin-top: -1px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #c6c7c7;
}
.payment-a-tab-panel {
    padding-right: 50px;
    padding-left: 50px;
}
.payment-a-tab-tips {
    font-size: 14px;
    padding-left: 13px;
}
.payment-method-item {
    float: left;
    padding: 10px 13px 15px;
    width: 179px;
    height: 52px;
}
.payment-method-item .c-payment-method {
    z-index: 3;
}
.has-payment-method-type {
    cursor: default;
}
.c-payment-method {
    display: inline-block;
    position: relative;
    width: 177px;
    height: 50px;
    border: 1px solid #d2d1d1;
}
.icon-payment-logo {
    background-image: url(../../images/order/bank.png);
}
.payment-method-clip-background {
    background-color: #fff;
}
.icon-payment-logo-ccb {
    background-position: 0 -520px;
}
.icon-payment-logo {
    display: inline-block;
    width: 175px;
    height: 40px;
    vertical-align: top;
    background-repeat: no-repeat;
}
.payment-method-logo-a {
    position: absolute;
    top: 5px;
    left: 1px;
    z-index: 2;
}
.payment-method-name {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 177px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 1;
}
.payment-method-disabled-tooltips-a {
    bottom: 60px;
    left: -1px;
    white-space: nowrap;
}
.ui-tooltips {
    visibility: hidden;
    opacity: 0;
    transition: transform ease-out .15s,opacity ease-out .15s;
}
.ui-tooltips-bottom-left-arrow{
	transform: translateY(-10px);
}
.ui-tooltips {
    position: absolute;
    max-width: 800px;
    border: 1px solid #dbdada;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font: 12px/18px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #4d4d4d;
    z-index: 50;
}
.payment-method-disabled-tooltips-a .ui-tooltips-arrow {
    width: 114px;
}
.ui-tooltips-bottom-left-arrow .ui-tooltips-arrow{
	left: 0;
    bottom: -11px;
    height: 10px;
}
.ui-tooltips-arrow {
    position: absolute;
}
.ui-tooltips-bottom-left-arrow .arrow, .ui-tooltips-bottom-left-arrow .arrow-out {
    left: 25%;
}
.ui-tooltips-arrow .arrow-out {
    color: #dbdada;
    text-shadow: 0 0 4px rgba(0,0,0,.15);
}
.ui-tooltips-bottom-left-arrow .arrow-out{
	margin-left: -7px;
    top: -9px;
}
.ui-tooltips .arrow {
    position: absolute;
    width: 14px;
    text-align: left;
    height: 14px;
    font: 400 12px/14px ËÎÌå,Hiragino Sans GB;
}
.ui-tooltips-content {
    position: relative;
    background-color: #fff;
    padding: 6px 15px;
}
.m-payment-operation {
    padding-left: 0;
}
.is-payment-operation-guide-in {
    line-height: 44px;
}
.m-payment-operation {
    text-align: left;
    padding: 30px 0 0 42px;
}
.is-button-disabled{
	cursor: not-allowed;
    color: #9b9b9b;
    transition: none;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.ui-btn-large{
	min-width: 72px;
    padding: 0 35px;
    font: 18px/44px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    height: 44px;	
}
.ui-btn-large{
	display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
	
}
.payment-box-a-top {
    position: absolute;
    left: -8px;
    top: -3px;
    width: 976px;
    height: 6px;
    background-color: #d4d4d4;
    border-top: 1px solid #c5c5c5;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
}
.public-footer {
    font-family: arial,'\5B8B\4F53',sans-serif;
    font-size: 12px;
    line-height: 22px;
    clear: both;
    overflow: hidden;
    color: #4d4d4d;
    margin-top: 20px;
    padding: 0;
    background-color: #fcfcfc;
    border-top: #ebebeb 1px solid;
}
.public-footer .hd-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.footer-icon {
    height: 150px;
    z-index: 9;
    background: url(../../images/order/banner-footer.png) center center no-repeat;
}
.footer-list {
    overflow: hidden;
    margin: 10px auto 25px;
    line-height: 20px;
}
.footer-list dl {
    float: left;
    width: 139px;
    height: 146px;
    padding-left: 20px;
    border-right: 1px solid #e0e0e0;
}
.footer-list dt {
    margin-bottom: 4px;
    color: #4d4d4d;
}
.footer-list .link-anim dd {
    -webkit-transition: margin ease-out .2s;
    margin: 0;
}
.footer-list dd {
    padding-left: 8px;
    background: url(../../images/order/s-footer.png) -6px -496px no-repeat #fcfcfc;
}
.public-footer a {
    color: gray;
    text-decoration: none;
}
.public-footer a:hover {
    color: #f10180;
    text-decoration: none;
}
.footer-list .tc {
    padding-left: 0;
    width: 159px;
    text-align: center;
    border-right: none;
}
.footer-list .tc .app {
    background-position: 0 -540px;
}
.footer-list .tc .app, .footer-list .tc .wx {
    width: 90px;
    height: 90px;
    background-image: url(../../images/order/s-footer.png);
    margin: 0 auto;
}
.footer-list .tc dd {
    background: 0;
    padding-left: 0;
    color: gray;
}
.tc dd{
	margin:0;
	padding:0;
}
.footer-link {
    text-align: center;
    color: #fff;
    background-color: #d7237e;
    height: 30px;
    line-height: 30px;
}
.footer-link a {
    color: #fff;
    margin: 0 4px;
}
.footer-link a:hover {
    color: #ccc;
}
.footer-copy {
    text-align: center;
    color: #999;
    margin: 20px 0;
    line-height: 19px;
}
.footer-copy a {
    color: gray;
    margin-right: 5px;
}
.footer-service {
    text-align: center;
    background-color: #fff;
    height: 40px;
    padding: 5px 0;
}
.footer-service a {
    display: inline-block;
    height: 40px;
    background: url(../../images/order/s-footer.png) no-repeat;
    margin: 0 6px;
}

.footer-service a.serv1 {
    width: 105px;
    background-position: 0 0;
}
.footer-service a.serv4 {
    width: 99px;
    background-position: 0 -150px;
}
.footer-service a.serv5 {
    width: 66px;
    background-position: 0 -200px;
}
.footer-service a.serv6 {
    width: 71px;
    background-position: 0 -250px;
}
.footer-service a.serv7 {
    width: 75px;
    background-position: 0 -300px;
}
.footer-service a.serv10 {
    width: 77px;
    background-position: 0 -400px;
}
.footer-service a.serv9 {
    width: 70px;
    background-position: 0 -450px;
}

.order-detail-tooltips {
    width: 390px;
    left: -70px;
    top: 25px;
}
.ui-tooltips {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform ease-out .15s,opacity ease-out .15s;
    transition: transform ease-out .15s,opacity ease-out .15s;
}
.ui-tooltips-top-arrow, .ui-tooltips-top-left-arrow, .ui-tooltips-top-right-arrow {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}
.ui-tips-pop, .ui-tooltips {
    position: absolute;
    max-width: 800px;.arrow {
    position: absolute;
    width: 14px;
    text-align: left;
    height: 14px;
    *overflow: hidden;
    font: 400 12px/14px ËÎÌå,Hiragino Sans GB;
    _line-height: 16px;
    color: #fff;
}
    
.order-detail-tooltips .ui-tooltips-content {
    padding: 21px;
    max-height: 188px;
    _height: 188px;
    overflow: auto;
}
.ui-tooltips-content {
    position: relative;
    background-color: #fff;
    padding: 6px 15px;
}
.order-detail-group-last {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.order-detail-number {
    margin-bottom: 5px;
}
.e-disc-list, .e-list-disc {
    padding-left: 15px;
}
.c-list, .m-list {
    margin-bottom: -5px;
}
li, ol, ul {
    list-style: none;
}
.order-detail-list .list-item {
    list-style-position: inside;
    word-wrap: break-word;
    word-break: break-all;
}
.e-disc-list .list-item, .e-list-disc .list-item {
    list-style: outside disc none;
}
.c-list .list-item, .m-list .list-item {
    margin-bottom: 5px;
}
.order-detail-list .goods-size {
    margin-left: 10px;
}
.z-ui-tooltips-in, .z-ui-tooltips-in .ui-tooltips {
    visibility: visible;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}






